:root[data-theme="light"] {
  --app-background: linear-gradient(180deg, #ffffff 0%, #ececec 100%);
  --surface: #ebebeb;
  --foreground: #0d0d0d;
  --contrast: #ebebeb;
  --muted: #9a9a9a;
  --line: #e2e2e2;
}

:root[data-theme="dark"] {
  --app-background: linear-gradient(180deg, #000000 0%, #171717 100%);
  --surface: #0d0d0d;
  --foreground: #ebebeb;
  --contrast: #0d0d0d;
  --muted: #6b6b6b;
  --line: #2a2a2a;
}